.todoList{
  display:flex;
  flex-direction: column;

}

.todoItem{
  padding-block:0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:16px;
}

.todoFooter{
  display: flex;
  flex-direction: row;
}

.button{
  border-radius: 3px;
  background-color: darkblue;
  padding: 0.25rem 0.5rem;
  color: white;
  font-weight: 400;
  margin-left:auto;
  cursor: pointer;
}

.toggleCompleted{
  margin-left: auto;
}

.completed{
  text-decoration: line-through;
  opacity: 0.6;
}